<!DOCTYPE html>
<html lang="en">
<head>
        <title>Arkwerks</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="home">
        <a href="main.html">
        <img src="./img/20.png" alt="home icon">
        <!-- <p><strong>Arkwerks Int'l Inc.</strong></p> -->
        </a>
    </div>
    <div class="contact">
        <h1>ABOUT US</h1>
        <img src="./img/about.png" alt="about">
    </div>
    
<footer>
        <a href="http://twitter.com/nickrp"><img src="img/twitter-wrap.png" alt="twitter logo" class="social-icon"></a>
        <a href="http://facebook.com/aiya aiden"><img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
        <p>&copy; 2017 Arkwerks Int'l Inc.</p>
    </footer>
</body>
</html>